.btn-change{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px
}

.btn{
  background-color: #cac;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
} 